@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

/* body {
    background-image: url("background.webp");
    } */
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    /* background-image: url("bg.jpg"); */
}

div.fixed
	{
		position: flex;
		bottom: 100px;
		right: 500px;
		color: #0fe00f;
	}
  div.fixedtwo
	{
		position: fixed;
		bottom: 100px;
		right: 500px;
		color: #14ad4f;
	}
	@media (max-width: 900px){
		div.fixed
	{
		position: fixed;
		bottom: 0;
		right: 50px;
		color: #0fe00f;
	}
}
.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #14ad4f, #030101);
  bottom: 40%;
  right: 40%;
  transform: translate(-40%, 38%);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 80px;
}
header .name h4
{
    color: #14ad4f;
    font-size: 1.5em;
}
header .name h3 
{
    color: #fff;
    font-size: 1.5em;
}
header .name span
{
    color: #333;
    font-size: 1.5em;
    font-weight: 700;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox
{
    position: relative;
    max-width: 600px;
}

.content .textbox h1 span
{
    color: #fff;
    font-size: 2.0em;
    font-weight: 900;
}
.content .textbox p
{
    color: #333;
}
.content .textbox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: linear-gradient(45deg, #14ad4f,#030101);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox
{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    /* padding-right: 10px; */
    /* padding-left: 30px; */
}
.content .imgBox img
{
    padding-top: 15px;
    max-width: 650px;
    border-radius: 80px;
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(45deg, #14ad4f,#030101);
    clip-path: circle(600px at right 800px);
}
div.footer
{
    
	position: absolute;
    bottom: 10px;
    right: 10px;
    align-items: center;
	color: #fff;
    font-size: 1.2em;
}
@media (max-width: 1000px)
{
    header
    {
        padding: 10px;
    }
    header .logo
    {
        max-width: 60px;
    }
    header .name h4
    {
        font-size: 0.9em;
    }
    header .name h3
    {
        font-size: 0.9em;
    }
    header .name span
    {
        font-size: 0.9em;
        font-weight: 700;
    }
    header ul
    {
        display: none;
    }
    section
    {
        padding: 20px 20px 120px;
    }
    .content
    {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textbox h1 span
    {
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .content .textbox
    {
        max-width: 100%;
    }
    .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img
    {
        max-width: 1000px;
    }
    .circle
    {
        clip-path: circle(300px at center bottom);
    }
    div.footer
{
	position: flex;
    bottom: 50px;
    right: 10px;
    align-items: center;
	color: #fff;
    font-size: 1.0em;
}
}